<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>CS193x Final Project</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/app.js" defer></script>
    <script src="/js/DiaryScreen.js" defer></script>
    <script src="/js/HomeScreen.js" defer></script>
    <script src="/js/script.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">


</head>
<body>
<!-- TODO(you): Add the HTML necessary to complete your final project. -->
<header class="">
    <span> CREATE  or  LORD your JOURNAL</span>
    <div class="home">
        <br>
        <button class="creatbtn">CREATE A NEW JOURNAL</button>
        <br>
        <button class="loadbtn">LOAD AN OLD JOURNAL</button>
        <br>
        <div id="savedDiary" class="loadzone inactive">
        </div>
    </div>
</header>

<div class="display-journal inactive">
    <main>
        <div class="date">
            <h1>{{date-view}}</h1>
        </div>
        <div class="title">
            <h4>{{title-view}}</h4>
        </div>
        <form class="context" method="post">
            <textarea class="textarea" style="width:400px;height:120px;">{{Content}}</textarea>
            <button id="submitbtn">submit</button>
        </form>
    </main>
    <footer>
        <div class="UIbar default" style="display: flex">
            <div class="btn back"></div>
            <div class="home">home</div>
            <div class="btn forward"></div>
        </div>
    </footer>
</div>



</body>
</html>
