/**
 * TODO(you): Add the CSS necessary to complete your final project.
 **/
.inactive {
    display: none !important;
}
body{
    background-color: #313638;
    color: #E8E9EB;
}

header {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    text-align: center;

}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    align-items: center;

}
.home button:hover{
    background-color: #E0DFD5;
    color: #F06543;

}

.home button:hover:after  {
    content: ">>";
}

.creatbtn{
    display: block;
    border-radius: 8px;
    background-color: #F06543;
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    transition: all 0.5s;
    height: 7rem;
    width:60%;
}

.loadbtn{
    display: block;
    border-radius: 5px;
    background-color: #F06543;
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    transition: all 0.5s;
    height: 7rem;
    width:60%;

}
/* F06543 F09D51 313638  E8E9EB E0DFD5*/
#savedDiary {

}

.loadBlock{

    flex: 0 0 30%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

}

#savedDiary .loadDiary{
    display: flex;
    border-radius: 8px;
    background-color: rgb(64, 86, 139);
    border: none;
    color: #fffbfb;
    text-align: center;
    font-size: 2rem;
    transition: all 0.5s;
}

#savedDiary .loadDiary:hover{
    background-color: #E0DFD5;
    color: #F06543;
}


#savedDiary .deleteDiary{
    display: flex;
    border-radius: 8px;
    background-color: #9b1f28;
    border: none;
    color: #f0eadf;
    text-align: center;
    font-size: 2rem;
    transition: all 0.5s;
}

#savedDiary .deleteDiary:hover{
    background-color: #E0DFD5;
    color: #F06543;
}


main{
    display: inline-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-journal .date {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    text-align: center;
    width: 50%;
    border-bottom:#E8E9EB 0.5rem solid;
    margin: 30px;

}

.display-journal .title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 10px;
}
.btn{
    border-radius: 8px;
    background-color: #40568b;
    border: none;
    color: #f0eadf;
    text-align: center;
    font-size: 2rem;
    transition: all 0.5s;
}
.btn:hover{
    border-radius: 8px;
    background-color: #fffbfb;
    border: none;
    color: #341017;
    text-align: center;
    font-size: 2rem;
    transition: all 0.5s;
}


.back:hover:after{
    content: "<";
}

.forward:hover:after{
    content: ">";
}


.display-journal{
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    text-align: center;
    display: block;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-journal .context .textarea{
    width: 640px;
    height: 360px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-size: 18px;
    line-height: 15px;
    font-family: Tahoma, sans-serif;

}
footer{
    display: inline;
}
